---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
- message: We use Justice Law in all our endeavours. They offer an unparalleled service when it comes to running a
business.
image: "https://placekitten.com/g/60/60?a=.png"
name: Joice Carmold
- message: Justice Law are the best of the best. Being local, they care about people and have strong ties to the
community.
image: "https://www.fillmurray.com/60/60?a=.png"
name: Peter Rottenburg
- message: Justice Law were everything we could have hoped for when buying our first home. Highly recommended to all.
image: "https://placebear.com/60/60?a=.png"
name: D. and G. Gibbleston
_options:
image:
width: 60
height: 60
---

<div class="editable">

  <h2> We discover hard-to-get data so that you can `________________`.</h2>

  <p>
    <center>Need coastal data or analysis? <br>Want to sell coastal data or provide analysis?</br> <br>Sign up to get
      involved in our pilot
      projects!</br></center>
  </p>

  <p>Karang forms a digital network and marketplace to overcome the logistical and financial barriers associated with
    data collection and analysis within coastal communities and the seafood industry.</p>

</div>

<div class="testimonials">
  {% for testimonial in page.testimonials %}
  <blockquote class="testimonial">
    <p class="testimonial-message">{{ testimonial.message }}</p>
    <p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}"
        alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
  </blockquote>
  {% endfor %}
</div>