---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
- message: We use Justice Law in all our endeavours. They offer an unparalleled service when it comes to running a
business.
image: "https://placekitten.com/g/60/60?a=.png"
name: Joice Carmold
- message: Justice Law are the best of the best. Being local, they care about people and have strong ties to the
community.
image: "https://www.fillmurray.com/60/60?a=.png"
name: Peter Rottenburg
- message: Justice Law were everything we could have hoped for when buying our first home. Highly recommended to all.
image: "https://placebear.com/60/60?a=.png"
name: D. and G. Gibbleston
_options:
image:
width: 60
height: 60
---

<div class="editable">
  <p>
    <center>
      Do you...<br>
      Need coastal data or analysis that’s too costly or cumbersome to get? WE CAN HELP YOU GET THIS INFORMATION!</br>
    <br>Do you produce coastal data or provide analysis? WE CAN HELP YOU REACH CUSTOMERS WHO WANT YOUR SERVICES!</br>
      <br>
      <a target="_blank" href='https://form.jotform.com/201806959542159'>Sign up</a>
      to get involved in our pilot projects!</br></center>
  </p>

</div>

<div class="testimonials">
  {% for testimonial in page.testimonials %}
  <blockquote class="testimonial">
    <p class="testimonial-message">{{ testimonial.message }}</p>
    <p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}"
        alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
  </blockquote>
  {% endfor %}
</div>
