---
title: Use Cases
call_to_action: Contact
background_image_path:
large_header: false
show_in_navigation: true
navigation_order: 3
---
<h3 id="potential-use-cases">Potential Use-Cases</h3>
<h5 id="harmful-algal-blooms">Harmful Algal Blooms</h5>
<p>Over $30 million is already being spent on remediation per Harmful Algal Bloom (HAB) outbreak. Coastal communities and businesses need accurate HAB
predictions so that they can plan for these events, and take actions to reduce their intensity and severity. These predictions require continuous
aquatic monitoring, which is expensive and complicated. However, data and compensation could flow through Karang between coastal businesses and
government programs to fund aquatic sensor systems for HAB predictions and early warnings. Karang would pool contributions from entities like coastal
resorts, monitoring agencies, fishers, aquaculturists, restaurants to finance the installation and maintenance of this monitoring solution! This approach
could help avoid over $1 billion in annual global HAB damages.
</p>

<h5 id="coupled-coastal-insurance-schemes">Coupled Coastal Insurance Schemes</h5>
<p>The U.S. Federal Emergency Management Agency spent over $8 billion on natural disaster mitigation from 2007 - 2016; 10% of this was dedicated just to
flooding. Karang could maximize returns from this spending by enabling coupled insurance schemes. Healthy coral reefs provide roughly $41 billion in
global net economic revenues each year. One benefit these healthy reefs provide is protection from storm and flood damage. Coral reef insurance could
ensure these reefs are maintained (funding the restoration of reefs when damaged). Karang could incentivize reef insurance subscriptions by managing
property insurance discounts for those coastal property owners who buy reef insurance. Funding, as well as vital coastal monitoring data, could flow
through Karang between insurance payers and payees. This would help prevent over $100 billion in uninsured coastal weather-related damages around the
world each year.
</p>

<h5 id="bomb-fishing-prevention">Bomb Fishing Prevention</h5>
<p>It costs over $4,500 per hectare per year to adequately patrol coral reefs and prevent blast fishing. With budgets of just $20 per hectare in
Malaysia, and less than 1¢ per hectare in Indonesia, reef patrols are grossly insufficient. The Karang network could enable real-time acoustic
monitoring of coastal areas to maximize the impact of available funds. With monitoring systems, authorities could apprehend offenders such as blast
fishers on the water. Karang could pool and distribute funding for a community-wide hydrophone network that algorithmically detects and locates blast
fishing explosions. Blast alerts could flow through Karang to local authorities who could then immediately pursue the perpetrators. This could save
the world over $78 billion per year.
</p>

{% if paginator.total_pages > 1 %}
<div class="pagination">
	{% if paginator.previous_page %}
	<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer</a>
	{% elsif paginator.next_page %}
	<span></span>
	{% endif %}

	<span>{{ paginator.page }} of {{ paginator.total_pages }}</span>

	{% if paginator.next_page %}
	<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older &rarr;</a>
	{% elsif paginator.previous_page %}
	<span></span>
	{% endif %}
</div>
{% endif %}
