---
title: Use Cases
call_to_action: Contact
background_image_path:
large_header: false
show_in_navigation: true
navigation_order: 3
---
<h3 id="potential-use-cases">Potential Use-Cases</h3>
<h5 id="harmful-algal-blooms">Harmful Algal Blooms</h5>
<p><strong>Problem:</strong> Harmful Algal Blooms (HABs) are estimated to cost over $1 billion in global damages each year. How can Karang help 
	communities and businesses to adapt and mitigate the impact of HABs?</p>
<p><strong>Solution:</strong> Accurate HAB predictions can help communities and businesses to plan for these events, and potentially reduce their intensity 
	and severity); however, this requires continuous aquatic monitoring, which is expensive and complicated. Karang can gather the necessary funding, 
	manage the movement of aquatic information, and facilitate HAB predictions at a dramatically reduced price! We do this by identifying every qualifying 
	beneficiary who has pre-specified requirements along with their ability/willingness to pay for HAB predictions. By pooling demand from local water 
	quality monitoring agencies, fishers and aquaculturists, coastal resorts and restaurants, or even recreational beach goers and boaters, we can finance 
	the installation and maintenance of a continuous aquatic monitoring program that streams data into a HAB prediction model for participating beneficiaries!
</p>

<h5 id="coupled-coastal-insurance-schemes">Coupled Coastal Insurance Schemes</h5>
<p><strong>Problem:</strong> Coastal weather-related losses totaled over $150 billion globally in 2019, and $102 billion of these losses were not even
	insured. How can Karang help coastal communities protect their assets?
</p>
<p><strong>Solution:</strong> Healthy coral ecosystems provide roughly $41 billion in global net economic benefits each year, so keeping reefs intact
	can yield major dividends. Because a key benefit of helathy reefs is their ability to protect coastalines from storm and flood damage, coastal 
	property owners would directly benefit from coral reef insurance (since funds could be used to help restore reefs when damaged). To get every 
	coastal property owner to chip-in, Karang can help couple coral reef insurance with property insurance. By enabling coastal monitoring systems, 
	we can provide insurers the data they need to design parametric insurance schemes for reefs. Then, coastal property owners who opt to purchase
	reef insurance through Karang can receive a discount on their property insuance, effectively incentivizing coral reef protection and restoration.
</p>

<h5 id="bomb-fishing-prevention">Bomb Fishing Prevention</h5>
<p><strong>Problem:</strong> Bomb fishing is estimated to destroy over $78 billion each year, worldwide. How can Karang help communities
	discourage this harmful practice and reduce their losses?</p>
<p><strong>Solution:</strong> With real-time acoustic monitoring, authorities can easily apprehend bomb fishers on the water. Unfortunately, 
	real-time detection requires an expensive suite of technologies. However, as previously mentioned, Karang aggregates supply, demand, 
	and funding to implement and maintain solutions for a variety of beneficiaries. With adequate technology, data, and algorithmic support,
	authorities can receive blast alerts, with a timestamp and aproximate GPS coordinates, so they can immediately pursue the perpetrators.
</p>

{% if paginator.total_pages > 1 %}
<div class="pagination">
	{% if paginator.previous_page %}
	<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer</a>
	{% elsif paginator.next_page %}
	<span></span>
	{% endif %}

	<span>{{ paginator.page }} of {{ paginator.total_pages }}</span>

	{% if paginator.next_page %}
	<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older &rarr;</a>
	{% elsif paginator.previous_page %}
	<span></span>
	{% endif %}
</div>
{% endif %}
